html,
body {
  background: #fff;
  color: #000;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

iframe {
  position: absolute;
  z-index: 100;
}

.ad, .amzn_wdgt {
  position: absolute;
  z-index: 1000;
}

.amzn_wdgt {
  top: 0;
  right: 0;
}

.ad-left {
  left: 0;
}

.ad-top {
  bottom: 0;
}

.marquee {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 9999;
}
svg {
  display: block;
}
.logo {
  fill: #fff;
}
#titleText {
    color: #fff;
    display: block;
    left: auto;
    right: auto;
    position: absolute;
    top: 50%;
    font-family: 'Righteous', cursive;
    font-size: 3em;
}

marquee {
  position: absolute;
  bottom: 200px;
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: arial;
}

#slide {
    position: absolute;
    bottom: 0;
    right: 0;
}
#paulPoint {
    right: 120px;
    top: 100px;
    position: absolute;
    width: 400px;
}
